<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <a
        href="#"
        class="list-group-item list-group-item-action py-2 ripple"
        aria-current="true"
      >
        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
      </a>
      <a href="javascript:void(0)" class="list-group-item list-group-item-action py-2 ripple active" [routerLink]="['']">
        <i class="fas fa-chart-area fa-fw me-3"></i><span>Dashboard</span>
      </a>
      <a href="javascript:void(0)" class="list-group-item list-group-item-action py-2 ripple"
        [routerLink]="['income']"><i class="fas fa-lock fa-fw me-3"></i><span>Income</span></a
      >
      <a href="javascript:void(0)" class="list-group-item list-group-item-action py-2 ripple"
        [routerLink]="['expense']"><i class="fas fa-chart-line fa-fw me-3"></i><span>Expense</span></a
      >
      <a href="javascript:void(0)" class="list-group-item list-group-item-action py-2 ripple" [routerLink]="['']">
        <i class="fas fa-chart-pie fa-fw me-3"></i><span>Reconciliotion</span>
      </a>
    </div>
  </div>
</nav>